.testimonials-container {
    position: relative;
    background: var(--color-gradient-blue);
    overflow: hidden;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 4rem;
    padding-left: 10%;
    color: var(--color-bg-white);
}

.test-header h1 {
    font-family: var(--font-rexton);
    letter-spacing: -8px;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.test-header {
    max-width: 40%;
    margin-bottom: 2rem;
}

/* Card Styles */
.testimonial-card {
    background: var(--color-bg-white);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25vw;
    margin: 0 1rem;
    flex-shrink: 0;
    position: relative;
    min-height: 230px;
}

.quote-icon-container {
    position: absolute;
    top: -1rem;
    left: 1.5rem;
    background: var(--color-light-blue);
    border-radius: 50%;
    padding-block: 0.5rem;
    padding-inline: .75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.testimonial-text {
    color: var(--color-dark-grey);
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.author-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: .5rem;
}

.author-avatar {
    background: var(--color-bg-white);
    padding: 0.5rem;
    padding-inline: 0.75rem;
    border-radius: 50%;
}

.author-name {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-dark-grey)
}

.scroll-container {
    position: relative;
    width: 100%;
}
