.clients-container {
    padding-inline: 5%;
    padding-top: 5%;
    padding-bottom: 1rem;
    background-color: var(--color-white);
    text-align: center;
    font-family: var(--font-rexton);
    font-weight: 900;
}

.clients {
    padding-top: 1rem;
    gap: 2rem;
    overflow: hidden;
}
