.technologies, .key-feature {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.detail-card .feature{
    color: var(--color-black);
    /* text-align: center; */
}

.detail-card {
    text-wrap: balance;
}

.feature-skills {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.feature-skill {
    border: 1px solid var(--color-light-blue);
    padding: 0rem 0.65rem;
    border-radius: 25px;
}

.feature-skills p {
    font-size: .9rem;
}