:root {
  --background: #dedfe0;
  --foreground: #171717;

  --color-gradient-blue: linear-gradient(
    340.47deg,
    #51d9ff -5.11%,
    #43e8ff 18.37%,
    #2268f0 72.86%
  );

  --color-long-gradient-blue: linear-gradient(
    317.29deg,
    #51d9ff 35.19%,
    #43e8ff 58.93%,
    #2268f0 80.88%
  );
  --color-bg-white: #dedfe0;
  --color-dark-grey: #3f3f3f;
  --color-light-white: rgba(240, 250, 255, 1);
  --color-light-grey: rgba(154, 158, 166, 1);
  --color-light-blue: rgba(69, 230, 255, 1);
  --color-white: rgba(251, 251, 251, 1);
  --color-gold: rgba(255, 196, 44, 1);
  --color-black: rgba(51, 51, 51, 1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-poppins);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.link,
.btn {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  section {
    padding-bottom: 3rem;
  }
}
